HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Terraform
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform/*
infrastructure/*.tfplan
infrastructure/*.tfvars
infrastructure/.terraform.lock.hcl

infrastructure/.vault_pass.txt
infrastructure/.env
infrastructure/credentials.tfvars
infrastructure/credentials.sh
infrastructure/docker-compose.yaml

#key files
*.pem
*.pub
/infrastructure/scheduler.pem
src/main/resources/application.properties