spring.datasource.url=jdbc:postgresql://localhost:5432/shift_DB
spring.datasource.username=admin
spring.datasource.password={{ PSQL_PW }}

spring.datasource.driver-class-name=org.postgresql.Driver

# hibernate build tables from entity
spring.jpa.hibernate.ddl-auto=create

#show sql log
spring.jpa.show-sql=true

#uses data.sql file to seed
spring.jpa.properties.hibernate.format_sql=true

#let hibernate build tables before seeding
spring.jpa.defer-datasource-initialization=true

#tell spring boot to always use data.sql file
spring.sql.init.mode=always

spring.mvc.cors.allowed-origins=http://localhost:3000
